# Flask
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=false

# Gunicorn
GUNICORN_WORKERS=4
GUNICORN_BIND=0.0.0.0:5000

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# PostgreSQL
# Desarrollo local: localhost:5433 (puerto externo de Docker)
# Docker: postgres:5432 (puerto interno)
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/ticketpass

# Negocio
RESERVA_TTL_SEGUNDOS=180
MAX_ENTRADAS_POR_PEDIDO=5

# Cola
COLA_TIMEOUT_SEGUNDOS=10
